body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
    text-decoration: none;
}

header {
  padding: .5em;
  background-color: #eee;
  display: flex;
  align-items: center;
}

.header-element {
  margin: 0em 0.5em;
}

.header-sitename {
  font-size: medium;
  margin-right: auto;
}

.header-sitename-link {
  color: black;
  text-decoration: none;
}

.header-user {
  order: 9
}

main {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  border-top: 2px solid #999;
   width: 960px;
}

footer {
  margin: auto 1em 1em 1em;
  text-align: center;
}

.user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.user-view {
  display: flex;
  flex-direction: column;
  width: 24em;
  max-width: 24em;
}

.user-section-title {
  text-align: center;
}

.user-image {
  margin: 0 auto;
  width: 12em;
}

.user-name {
  margin: 1em auto;
}

.user-bio {
  max-width: 24em;
}

.user-input-name,
.user-input-image {
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.user-input-bio {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 32em;
}

.user-settings {
  margin: 0 auto;
  text-align: center;
}

.project-authors {
  text-align: center;
}

.project-authors-list {
  display: inline-flex;
  margin: 0;
}

.project-authors-list-item {
  display: inline;
  margin: .5em;
}

.project-author-list-item-link {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.project-author-list-item-image {
  height: 5em;
  width: 5em;
}

.project-input-name {
  text-align: center;
}

.project-input-name-label {
  font-size: x-large;
  font-weight: bold;
}

.project-input-name-input {
  display: block;
  font-size: x-large;
  margin: 0 auto;
  text-align: center;
}

.project-name {
  text-align: center;
}

.project-description {
  max-width: 40em;
  margin: 1em auto;
}

.project-settings {
  text-align: center;
}

.settings-visibility-list {
  list-style-type: none;
  margin: auto;
  text-align: left;
  width: max-content;
}

.project-input {
  display: flex;
  flex-direction: column;
}

.project-description-visibility {
  display: inline;
  font-size: large;
}

.project-input-description {
  display: block;
  width: 100%;
  height: 24em;
}

.input-error {
  color: red;
}

.project-tags-edit-title,
.project-tags-title {
  display: inline;
}

.project-tags-edit-list,
.project-tags-list {
  display: inline-flex;
  flex-wrap: wrap;
}

.tag-title-name,
.project-tags-edit-list-item,
.project-tags-list-item {
  background-color: #eee;
  border-radius: .5em;
  display: inline;
  margin: .25em;
  padding: .5em;
}

.pagination {
  display: flex;
  justify-content: space-evenly;
}

.pagination-previous,
.pagination-next {
  text-align: center;
  width: 7em;
}

.global-project-list-item {
  flex-direction: row;
  font-size: smaller;
  margin: 10px;
  padding: 10px;
  border-top: 1px #bbb solid;
}

.global-project-list-item-tag-list {
  display: flex;
  font-size: smaller;
}

.global-project-list-item-tag-list-item {
  display: inline;
  padding: .2em;
  background-color: #eee;
  margin: .1em .25em;
  border-radius: .25em;
}

.global-project-list-item-tag-list-item-link,
.project-tags-list-item-link {
  color: black;
  text-decoration: none;
}

.global-project-list {
  list-style-type: none;
  padding: 0px;
  }

.tag-list-title {
    text-align: center;
}

.tag-page-description {
    padding: 20px;
}