<!DOCTYPE html>
<html lang="en" data-th-replace="~{base :: layout(~{::title}, ~{::main})}">
<head>
  <title>Edit Profile - Portfolio</title>
  <link rel="stylesheet" href="../../static/style.css"/>
</head>
<body>
<main>
  <form
    data-th-object="${user}"
    data-th-action="@{/user/{id}/edit(id=${user.userId})}"
    method="post"
  >
    <section class="user-details">
      <section class="user-view">
        <h2 class="user-section-title">Internal</h2>
        <p>
          Logged-in users can see this information if your profile is set to
          public or internal visibility.
        </p>
        <label
          data-th-class="${#fields.hasErrors('internalName')}? 'input-error'"
        >
          My name (internal):
          <input
            class="user-input-name"
            type="text"
            name="internalName"
            required
            data-th-value="*{internalName}"
          />
        </label>
        <label>
          Internal image:
          <input
            class="user-input-image"
            type="text"
            name="internalImageUrl"
            placeholder="https://example.com/image.jpg"
            data-th-value="*{internalImageUrl}"
          />
        </label>
        <label>
          Internal Bio:
          <textarea
            class="user-input-bio"
            name="internalBio"
            data-th-text="*{internalBio}"
          >
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
occaecat cupidatat non proident, sunt in culpa qui officia deserunt
mollit anim id est laborum.
          </textarea>
          <a href="https://commonmark.org/help/">
            Styling with Markdown is supported.
          </a>
        </label>
      </section>
      <section class="user-view">
        <h2 class="user-section-title">Public</h2>
        <p>
          Everyone who can view your profile can see this information.
        </p>
        <label
          data-th-class="${#fields.hasErrors('publicName')}? 'input-error'"
        >
          My name (public):
          <input
            class="user-input-name"
            type="text"
            name="publicName"
            required
            data-th-value="*{publicName}"
          />
        </label>
        <label>
          Public image:
          <input
            class="user-input-image"
            type="text"
            name="publicImageUrl"
            placeholder="https://example.com/image.jpg"
            data-th-value="*{publicImageUrl}"
          />
        </label>
        <label>
          Public Bio:
          <textarea
            class="user-input-bio"
            name="publicBio"
            data-th-text="*{publicBio}"
          >
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat
lobortis arcu vel feugiat. Nullam sagittis commodo turpis nec pretium.
Nulla bibendum ligula posuere malesuada posuere. Curabitur ullamcorper
sem ut lacus lacinia condimentum. Fusce quis tortor malesuada urna
posuere lacinia. Cras volutpat, augue ac semper ullamcorper, arcu metus
dapibus quam, ut dictum metus lacus vitae nibh. Pellentesque vitae diam
ut lacus efficitur mollis a id nisl. Phasellus ullamcorper ultricies
dolor. Maecenas condimentum magna sit amet venenatis sodales.
Pellentesque in pulvinar orci. Nulla facilisi. Vivamus justo lorem,
pretium sit amet pulvinar non, mattis eu metus.
          </textarea>
          <a href="https://commonmark.org/help/">
            Styling with Markdown is supported.
          </a>
        </label>
      </section>
    </section>
    <section class="user-settings">
      <div
        data-th-replace="~{visibility :: settings('Profile visibility', *{profileVisibility}, 'profileVisibility')}"
      >
        Profile visiblity fragment
      </div>
      <div>
        <input type="submit"/>
      </div>
    </section>
  </form>
</main>
</body>
</html>
