<!DOCTYPE html>
<html lang="en" data-th-replace="~{base :: layout(~{::title}, ~{::main})}">
<head>
  <title>Edit Profile - Portfolio</title>
</head>
<body>
<main>
  <form
    data-th-object="${user}"
    data-th-action="@{/user/{id}/edit(id=${user.userId})}"
    method="post"
  >
    <div>
      My name (public):
      <input
        type="text"
        name="publicName"
        data-th-value="*{publicName}"
      />
    </div>
    <div>
      My name (internal):
      <input
        type="text"
        name="internalName"
        data-th-value="*{internalName}"
      />
    </div>
    <div>
      Public image:
      <input
        type="text"
        name="publicImageUrl"
        data-th-value="*{publicImageUrl}"
      />
    </div>
    <div>
      Internal image:
      <input
        type="text"
        name="internalImageUrl"
        data-th-value="*{internalImageUrl}"
      />
    </div>
    <div>
      Public Bio:
      <input
        type="text"
        name="publicBio"
        data-th-value="*{publicBio}"
      />
    </div>
    <div>
      Internal Bio:
      <input
        type="text"
        name="internalBio"
        data-th-value="*{internalBio}"
      />
    </div>
    <div>
      Profile visibility:
      <select name="profileVisibility">
        <option
          data-th-each="v : ${T(com.recurse.portfolio.security.Visibility).values()}"
          data-th-value="${v}"
          data-th-selected="*{profileVisibility} == ${v}"
          data-th-text="${v}"
        >
          visibility
        </option>
      </select>
    </div>
    <div>
      <input type="submit"/>
    </div>
  </form>
</main>
</body>
</html>
