<!DOCTYPE html>
<html lang="en" data-th-replace="~{base :: layout(~{::title}, ~{::main})}">
<head>
  <title data-th-text="${user.internalName} + ' - Portfolio'">
    Peer's User Page - Portfolio
  </title>
</head>
<body>
<main>
  <div>
    Name: <span data-th-text="${user.internalName}">internal name</span>
  </div>
  <div>
    Public image:
    <img data-th-src="${user.publicImageUrl}"/>
  </div>
  <div>
    Internal image:
    <img data-th-src="${user.internalImageUrl}"/>
  </div>
  <div>
    Public Bio:
    <div data-th-text="${user.publicBio}">public bio</div>
  </div>
  <div>
    Internal Bio:
    <div data-th-text="${user.internalBio}">internal bio</div>
  </div>
  <div>
    Profile visibility: <span data-th-text="${user.profileVisibility}">visibility</span>
  </div>
</main>
</body>
</html>
