<!DOCTYPE html>
<html lang="en" data-th-replace="~{base :: layout(~{::title}, ~{::main})}">
<head>
  <title data-th-text="${user.internalName} + ' - Portfolio'">
    Peer's User Page - Portfolio
  </title>
  <link rel="stylesheet" href="../../static/style.css"/>
</head>
<body>
<main class="user">
  <section class="user-view">
    <h2 class="user-section-title">Internal</h2>
    <img
      class="user-image"
      src="../../static/user-placeholder.png"
      data-th-src="${user.internalImageUrl}"
    />
    <div class="user-name">
      <span data-th-text="${user.internalName}">Internal Name</span>
    </div>
    <div class="user-bio">
      Bio:
      <p data-th-text="${user.internalBio}">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
    </div>
  </section>
  <section class="user-view">
    <h2 class="user-section-title">Public</h2>
    <img
      class="user-image"
      src="../../static/user-placeholder.png"
      data-th-src="${user.publicImageUrl}"
    />
    <div class="user-name">
      <span data-th-text="${user.publicName}">Public Name</span>
    </div>
    <div class="user-bio">
      Bio:
      <p data-th-text="${user.publicBio}">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat
        lobortis arcu vel feugiat. Nullam sagittis commodo turpis nec pretium.
        Nulla bibendum ligula posuere malesuada posuere. Curabitur ullamcorper
        sem ut lacus lacinia condimentum. Fusce quis tortor malesuada urna
        posuere lacinia. Cras volutpat, augue ac semper ullamcorper, arcu metus
        dapibus quam, ut dictum metus lacus vitae nibh. Pellentesque vitae diam
        ut lacus efficitur mollis a id nisl. Phasellus ullamcorper ultricies
        dolor. Maecenas condimentum magna sit amet venenatis sodales.
        Pellentesque in pulvinar orci. Nulla facilisi. Vivamus justo lorem,
        pretium sit amet pulvinar non, mattis eu metus.
      </p>
    </div>
  </section>
</main>
</body>
</html>
