<!DOCTYPE html>
<html lang="en">
<head>
  <title>Author Project List Fragment</title>
  <link rel="stylesheet" href="../../static/style.css"/>
</head>
<body>
<section
  class="user-projects"
  data-th-fragment="user-projects"
>
  <h2 class="user-projects-title">Projects</h2>
  <div data-th-replace="~{projects/list :: list(${projects})}">
    <a href="../projects/list.html">Project list fragment</a>
  </div>
  <div
    data-th-replace="~{pagination :: pagination(
      @{/user/{id}(id=${user.userId})},
      ${projects}
    )}"
  >
    <a href="../pagination.html">Pagination fragment</a>
  </div>
</section>
</body>
</html>
