<!DOCTYPE html>
<html lang="en" data-th-fragment="layout(title, content)">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title data-th-replace="${title}">Recurse Center Community Portfolio</title>
  <link
    rel="stylesheet"
    href="../static/style.css"
    data-th-href="@{/style.css}"
  />
</head>
<body>
  <header>
    <h1 class="header-element header-sitename">
      <a
        class="header-sitename-link"
        href="home.html"
        data-th-href="@{/}"
      >
        Recurse Center Community Portfolio
      </a>
    </h1>
    <div class="header-element header-user" data-th-if="${currentUser}">
      Hello,
      <a
        href="users/self.html"
        data-th-href="@{/user/{id}(id=${currentUser.userId})}"
        data-th-text="${currentUser.internalName}">
        currently logged in user</a>!
    </div>
    <div class="header-element header-new-project" data-th-if="${currentUser}">
      <a href="/project/new">Create a new project</a>
    </div>
    <div class="header-element header-login" data-th-unless="${currentUser}">
      <a href="?login">Log In</a>
    </div>
  </header>
  <main data-th-replace="${content}">
    <p>Layout content</p>
  </main>
  <footer data-th-fragment="footer">
    Made with <span role="img" aria-label="heart">❤️</span> with and for the
    <a href="https://www.recurse.com/scout/click?t=ac9449867495df95991da39e95823b65">
      Recurse Center</a>
    community.
    (<a href="https://github.com/jasonaowen/recurse-community-portfolio">Source</a>)
  </footer>
</body>
</html>
