<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Recurse Center Community Portfolio</title>
</head>
<body>
  <header>
    <h1>Recurse Center Community Portfolio</h1>
    <h2>An uncurated, author-driven collection of projects Recursers have built.</h2>
  </header>
  <p>Content will go here.</p>
  <footer>
    Made with ❤️ with and for the
    <a href="https://www.recurse.com/scout/click?t=ac9449867495df95991da39e95823b65">
      Recurse Center</a>
    community.
    (<a href="https://github.com/jasonaowen/recurse-community-portfolio">Source</a>)
  </footer>
</body>
</html>
