<!DOCTYPE html>
<html lang="en" data-th-replace="~{base :: layout(~{::title}, ~{::main})}">
<head>
  <title>Recurse Center Community Portfolio</title>
</head>
<body>
<main>
  <h1>Recent Projects</h1>
  <ul class="global-project-list">
    <li
      class="global-project-list-item"
      data-th-each="project : ${projects}"
    >
      <a
        href="projects/public.html"
        data-th-href="@{/project/{id}(id=${project.projectId})}"
        data-th-text="${project.name}"
      >Project Name</a>,
      by
      <span
        class="global-project-list-item-author"
        data-th-each="author : ${project.authors}"
      >
        <a
          href="users/public.html"
          data-th-href="@{/user/{id}(id=${author.userId})}"
          data-th-text="${author.name}"
        >Author Name</a><span
        data-th-if="not ${authorStat.last}"
      >, </span>
      </span>
      <ul class="global-project-list-item-tag-list">
        <li
          class="global-project-list-item-tag-list-item"
          data-th-each="tag : ${project.tags}"
          data-th-text="${tag.name}"
        >
          Tag Name
        </li>
      </ul>
    </li>
    <li
      class="global-project-list-item"
      data-th-remove="all"
    >
      <a href="../projects/public.html">Second Project</a>,
      by <a href="users/public.html">Second Author</a>
    </li>
  </ul>
  <div>
    <a href="projects/list.html" data-th-href="@{/projects/}">
      See more!
    </a>
  </div>
</main>
</body>
</html>
