<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pagination page fragment</title>
  <link rel="stylesheet" href="../../static/style.css"/>
</head>
<body>
<section class="pagination" data-th-fragment="pagination(path, page)">
  <div class="pagination-previous">
    <a
      href="#"
      data-th-href="@{{path}(
        path=${path},
        page=${page.previousPageable().pageNumber},
        size=${page.size}
      )}"
      data-th-if="${page.hasPrevious()}"
    >
      &#x2190; Previous
    </a>
  </div>
  <div class="pagination-next">
    <a
      href="#"
      data-th-if="${page.hasNext()}"
      data-th-href="@{{path}(
        path=${path},
        page=${page.nextPageable().pageNumber},
        size=${page.size}
      )}"
    >
      Next &#x2192;
    </a>
  </div>
</section>
</body>
</html>
