<!DOCTYPE html>
<html lang="en" data-th-replace="~{base :: layout(~{::title}, ~{::main})}">
<head>
  <title data-th-text="${project.name} + ' - Portfolio'">My Project Page</title>
  <link rel="stylesheet" href="../../static/style.css"/>
</head>
<body>
<main class="project">
  <h1
    class="project-name"
    data-th-text="${project.name}"
  >
    Project Name
  </h1>
  <section data-th-replace="~{projects/common :: authorsList(${authors})}">
    <a href="common.html">Authors list fragment</a>
  </section>
  <section class="project-descriptions">
    <section class="project-description">
      <h2 class="project-description-visibility">Private</h2>
      <div data-th-utext="${project.privateDescription}">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a
        justo et ipsum gravida cursus. Proin aliquet in libero id tempor.
        Pellentesque suscipit placerat egestas. Phasellus facilisis nibh leo,
        quis pretium odio gravida id. Morbi nibh diam, elementum posuere enim
        non, vestibulum accumsan nunc. Curabitur scelerisque pulvinar varius.
        Cras ultrices rutrum tristique.
      </div>
    </section>
    <section class="project-description">
      <h2 class="project-description-visibility">Internal</h2>
      <div data-th-utext="${project.internalDescription}">
        Nulla vel tellus sit amet sem ullamcorper suscipit. Duis mi elit,
        euismod a urna ut, semper maximus tellus. Phasellus mollis volutpat
        dictum. Suspendisse potenti. Nam eu lectus ac quam mollis dictum sit
        amet finibus diam. Cras eget mauris semper, interdum nulla eu, bibendum
        orci. Quisque ut euismod elit. Quisque convallis enim nulla, et feugiat
        tortor tempus vel. Morbi diam augue, pulvinar at quam sit amet, gravida
        lacinia neque.
      </div>
    </section>
    <section class="project-description">
      <h2 class="project-description-visibility">Public</h2>
      <div data-th-utext="${project.publicDescription}">
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
        cubilia Curae; Fusce orci eros, feugiat eu ipsum blandit, suscipit
        mollis diam. Ut egestas lacus faucibus, facilisis eros vitae, pharetra
        odio. Ut non tincidunt turpis. Aenean convallis eu sapien nec elementum.
        Fusce facilisis sapien risus, eget imperdiet nisi accumsan nec. Nam
        venenatis tellus aliquam ipsum placerat, nec finibus libero dignissim.
        Donec maximus ipsum lectus, non viverra orci iaculis a. Integer purus
        urna, malesuada eu risus volutpat, elementum fermentum elit. Proin ex
        velit, efficitur sit amet tempus sit amet, maximus id ex. Nam lacinia ut
        leo at dignissim. Donec vitae facilisis magna. Cras ipsum nibh, porta eu
        sem in, malesuada ornare tortor. Proin id fermentum justo, sed
        condimentum orci. Phasellus ac scelerisque elit. Aenean bibendum ut erat
        at egestas.
      </div>
    </section>
  </section>
  <section class="project-settings">
    <div
      data-th-replace="~{visibility :: view('Project visibility', ${project.visibility})}"
    >
      Project visibility fragment
    </div>
    <div>
      <a
        href="edit.html"
        data-th-href="@{/project/{id}/edit(id=${project.projectId})}"
      >Edit</a>
    </div>
  </section>
</main>
</body>
</html>
